@model UPC.TP2.WEB.Models.T_BITACORA_INCIDENCIA

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>T_BITACORA_INCIDENCIA</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_bitacora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_bitacora)
            @Html.ValidationMessageFor(model => model.id_bitacora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipo_incidencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tipo_incidencia)
            @Html.ValidationMessageFor(model => model.tipo_incidencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_registro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_registro)
            @Html.ValidationMessageFor(model => model.fecha_registro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_plan_salud, "T_PLAN_DE_SALUD")
        </div>
        <div class="editor-field">
            @Html.DropDownList("id_plan_salud", String.Empty)
            @Html.ValidationMessageFor(model => model.id_plan_salud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idempleado, "T_EMPLEADO")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idempleado", String.Empty)
            @Html.ValidationMessageFor(model => model.idempleado)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
