
@model UPC.TP2.WEB.Models.T_PLAN_DE_SALUD


@{
    ViewBag.Title = "Details";
}
 
<h2>Details</h2>

<div id="ContaintPopup" class="table-responsive">
<fieldset>
    <legend>T_PLAN_DE_SALUD</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_plan_salud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_plan_salud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre_plan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre_plan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_fin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_fin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.objetivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.objetivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_INVESTIGACION_COMERCIAL.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_INVESTIGACION_COMERCIAL.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_ESTRATEGIA_COMERCIAL.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_ESTRATEGIA_COMERCIAL.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_BASE_FINANCIERA.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_BASE_FINANCIERA.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_BASE_LEGAL.nombre_normativa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_BASE_LEGAL.nombre_normativa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_servicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_servicio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>

<script type="text/javascript">
    function showPopup() {
        $("ContaintPopup").dialog({
            height: 400,
            width: 500,
            modal: true,
            buttons: {
                "ok": function () {
                    $(this).dialog("close");
                    alert("seleccion ok")
                },
                "cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>
